.stationDetails {
    width: 220px;
    height: 250px;
}

.stationDetails__name {
    margin-top: 10px;
    margin-bottom: 3px;
}

.stationDetails__meta {
    font-weight: 600;
    color: var(--colorTextSecondary);
}

.stationDetails__latestMeasurementsTitle {
    margin-top: 20px;
}

.stationDetails__noMeasurements {
    margin-top: 10px;
}