.Button {
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--colorBackgroundPrimary);
    color: var(--colorTextInverse);
    transition: background-color 0.4s ease;
    width: 110px;
}

.Button:hover {
    background-color: var(--colorBackgroundPrimaryHover);
}