.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainPage {
    display: flex;
    flex: 1;
}

.mapContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}