.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainPage {
    display: flex;
    flex: 1;
}

.mapContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.mapContainer__top {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.mapContainer__title {
    font-size: 24px;
}