.measurement {
    margin-top: 10px;
}

.measurement__name {
    color: var(--colorTextSecondary);
    margin-bottom: 4px;
}

.measurement__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.measurement__value {
    font-weight: 500;
}

.measurement__timestamp {
    color: var(--colorTextSecondary);
    font-size: 12px;
}