* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --colorBackgroundPrimary: #3985E9;
  --colorBackgroundPrimaryHover: #2963ad;
  
  --colorTextNormal: #3f3f3f;
  --colorTextInverse: #ffffff;
  --colorTextSecondary: #727272;
}

html {
  color: var(--colorTextNormal);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}